<ion-view title="Mentor Sign Up" hide-nav-bar="true" id="page3">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h5 id="mentorSignUp-heading6" style="color:#000000;">First Name</h5>
    <form id="mentorSignUp-form5" class="list">
      <label class="item item-input" id="mentorSignUp-input7">
        <input type="text" name="fname" ng-model="userdata.fname">
      </label>
      <p class="danger" padding>{{ $error.fname }}</p>
    </form>
    <h5 id="mentorSignUp-heading7" style="color:#000000;">Last Name</h5>
    <form id="mentorSignUp-form6" class="list">
      <label class="item item-input" id="mentorSignUp-input8">
        <input type="text" name="lname" ng-model="userdata.lname">
      </label>
      <p class="danger" padding>{{ $error.lname }}</p>
    </form>
    <h5 id="mentorSignUp-heading8" style="color:#000000;">Email</h5>
    <form id="mentorSignUp-form7" class="list">
      <label class="item item-input" id="startUpRegistration-input15">
        <input type="email" name="email" ng-model="userdata.email">
      </label>
      <p class="danger" padding>{{ $error.email }}</p>
    </form>
    <h5 id="mentorSignUp-heading9" style="color:#000000;">Password</h5>
    <form id="mentorSignUp-form10" class="list">
      <label class="item item-input" id="mentorSignUp-input12">
        <input type="password" name="password" ng-model="userdata.password"/>
      </label>
      <p class="danger" padding>{{ $error.password }}</p>
    </form>
    <h5 id="mentorSignUp-heading10" style="color:#000000;">Re-enter password</h5>
    <form id="mentorSignUp-form9" class="list">
      <label class="item item-input" id="mentorSignUp-input11">
        <input type="password" name="re-password" ng-model="userdata.re_password">
      </label>
      <p class="danger" padding>{{ $error.fname }}</p>
      <p class="danger" padding>{{ $error.signup }}</p>
      <a ng-click="signup()" id="mentorSignUp-button5" class="button button-dark button-block button-outline">CONTINUE</a>
      <a ui-sref="type()" id="mentorSignUp-button56" style="font-style:italic;" class="button button-stable button-small button-block button-clear icon ion-ios-arrow-back"> Go Back</a>
    </form>
  </ion-content>
</ion-view>